<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422601921517-fii85le8cf5l8gm0vleelfqe6cq7ma85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422601921517-fii85le8cf5l8gm0vleelfqe6cq7ma85</string>
	<key>API_KEY</key>
	<string>AIzaSyBsrVUAzeJQU3gC60lddaim4BG5On_WNag</string>
	<key>GCM_SENDER_ID</key>
	<string>422601921517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatrooms.chatrooms</string>
	<key>PROJECT_ID</key>
	<string>my-chatroom-project</string>
	<key>STORAGE_BUCKET</key>
	<string>my-chatroom-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422601921517:ios:8d269dd81a19e718518de4</string>
</dict>
</plist>